body{
    font-family: Helvetica ;
    font-weight: bold;
}
p{
  font-weight: normal;
}
h1{
  font-size:  100px;
  color: khaki;
  text-align: center;
  background: url(../images/pattern.jpeg) no-repeat fixed;
}

.brushes, .frames, .paints{
  font-size : 32px;
  color: white;
 }
 .brushes{
  background-color: mediumspringgreen;
 }
 .frames{
   background-color: lightcoral;
 }
 .paints{
   background-color: skyblue;
 }
.subprice{
  color: blue;
  font-weight: bold;
}
